h2
{
text-align:center;
}
body
{
background-image:url(r4.jpg);
}
div
{
    height: 120px;
    width:300px ;
    border-radius: 30px;
margin-left:35%;
margin-right:25%;
margin-top:15%;
background-color: darkgrey;
}